.target
.DS_Store
.checkstyle
.classpath
.project
*/target/*
*/target/**

*/project/*
*/project/**

.idea
.idea/.name

.shell-project-java/.idea
.shell-project-java/project
.shell-project-java/target

.java8Examples/.idea
.java8Examples/project
.java8Examples/target
.java8Examples/build/classes
.java8Examples/.gradle

