.target
.DS_Store
.checkstyle
.classpath
.project
*/target/*
*/target/**

*/project/*
*/project/**

.idea
.idea/.name

.shell-project-java/.idea
.shell-project-java/project
.shell-project-java/target

